body {
  text-align: center;
  background-image: url(../images/pexels-pixabay-326311.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  

  margin: 0px;
  
}

.bottomcloud {
  display: block;
  margin: 10px auto;
  position: relative;
  right: 20%;
}

.bottom-container{
  background-color:  rgba(106, 148, 226, 0.37);
}
.btn {
  margin: 10px auto;
  font-size: 15px;
  color: #ffffff;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.384);
  padding: 20px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30%;
  
}
.btn:hover{
  color: #11999e;
}

.contact-me{
  background-color: rgba(106, 148, 226, 0.37);
}

.footer-link {
  color: #7bdde0;
  background-color: rgba(0, 0, 0, 0.575);
}

.footer-link:hover {
  color: #11999e;
}
.giphy-embed-coding {
  border-radius: 100%;

  width: 20%;
  border-style: hidden;
  float: left;
  margin-right: 20px;
}
.giphy-embed-food {
  width: 20%;
  border-style: hidden;
  border-radius: 100%;
  float: right;
  margin-right: 20px;
}
h1 {
  margin: 0 auto;

  font-family: "Sacramento";
  font-size: 90px;
}
hr {
  border: dotted;
  height: 0px;
  border-bottom-style: none;
  width: 10%;
  border-top-width: 5px;
  border-left-style: none;
  border-right-style: none;
}

.mountainimg {
  width: 100%;
}

.profile {
  margin-top: 90px;
  font-family: "Merriweather", sans-serif;
  padding-top: 30px;
}

.profilepic {
  height: 15%;
  width: 15%;
}

.skills {
  font-family: "Merriweather", sans-serif;
}
.skills-p {
  margin: 0px;
}

.skill-row {
  width: 50%;

  margin: 0 auto;
  text-align: left;
  padding: 10px;
  margin-bottom: 100px;
}

.top-container-p {
  margin: auto;
  font-family: Sofia;
  font-size: 20px;
  font-weight: lighter;
}

.top-container {
  padding-top: 50px;
  position: relative;
  margin-top: 10px;
  line-height: 1.6;
}

.topcloud {
  margin: 10px;
  position: relative;
  left: 20%;
}
