body {
  text-align: center;
  background-image: url(../images/pexels-pixabay-326311.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);

  /*margin: 0px;
    color: #defcf9*/
}

.bottomcloud {
  display: block;
  margin: 10px auto;
  position: relative;
  right: 20%;
}
.btn {
  margin: 0 auto;
  font-size: 15px;
}
.giphy-embed-coding {
  border-radius: 50px;
  height: 215px;
  width: 200px;
  border-style: hidden;
}
.giphy-embed-food {
  width: "240";
  height: "160";
  border-style: hidden;
  border-radius: 10% 50%/60%;
}
h1 {
  margin: 0 auto;

  font-family: "Sacramento";
  font-size: 90px;
}
hr {
  border: dotted;
  height: 0px;
  border-bottom-style: none;
  width: 10%;
  border-top-width: 5px;
  border-left-style: none;
  border-right-style: none;
}

.mountainimg {
  width: 100%;
}

.profile {
    margin-top: 90px;
  font-family: "Merriweather", sans-serif;
  padding-top: 30px;
}

.profilepic {
  height: 15%;
  width: 15%;
}

.skills {
  font-family: "Merriweather", sans-serif;
}
.skills-p {
  margin: 0px;
}

.skill-row {
  padding: 10px;
  margin-bottom: 10px;
}

.top-container-p {
  margin: auto;
  font-family: Sofia;
  font-size: 20px;
}

.top-container {
  padding-top: 50px;
  position: relative;
  margin-top: 10px;
}

.topcloud {
  margin: 10px;
  position: relative;
  left: 20%;
}
